.app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.app-shell {
  display: grid;
  grid-template-columns: 244px minmax(0, 1fr);
  flex: 1;
  overflow: hidden;
}

.app-main {
  height: 100%;
  overflow-y: auto;
}
